# Build Folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log
logs/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
.nuget/

# DotNet
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework
Migrations/

# Rider
.idea/
*.sln.iml

# Other
.DS_Store
Thumbs.db